@font-face {
  font-family: "Trip Sans";
  src: url("TripSans-Medium.woff2") format("woff2"),
    url("TripSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Trip Sans";
  src: url("TripSans-Regular.woff2") format("woff2"),
    url("TripSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MODAL CONTACTEZ NOUS  */

.modal {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 40%;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.shows {
  display: inherit;
}

.contact-form {
  height: 577px;
  width: 484px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 19px;
  z-index: 100;
  opacity: 100%;
}

.contact-form h1 {
  font-size: 24px;
  margin-top: 64px;
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form .form-input {
  height: 60px;
  border: 2px black solid;
  padding: 10px;
  width: 262px;
  font-family: "Trip Sans";
}

textarea {
  resize: none;
  border: 2px solid black;
  height: 111px;
  width: 262px;
  outline: none;
  padding: 10px;
  font-family: "Trip Sans";
}

.contact-form button {
  width: 200px;
  height: 35px;
  background-color: #04a96c;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 16px;
  margin-bottom: 69px;
  cursor: pointer;
}

body {
  font-family: "Trip Sans";
  font-weight: 500;
  font-style: normal;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.wrapper {
  max-width: 1130px;
  margin: 0 auto;
}

/* HEADER TOP  */

.header-top-section {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.logoSearch {
  display: flex;
}

.logo img {
  height: 42px;
  margin-right: 33px;
}

.searchbar {
  height: 38px;
  width: 335px;
  border-radius: 50px;
  border: 1px solid #e0e0e0;
  position: relative;
  z-index: -1;
}

.icon {
  position: absolute;
  left: 10px;
  top: 10px;
}

.search-input {
  position: absolute;
  top: 0;
  left: 40px;
  height: 36px;
  width: 280px;
  border: none;
  z-index: -1;
}

input:focus {
  outline: none;
}

nav {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}

.li-nav {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 7px;
}

.li-nav a {
  margin-left: 5px;
}

.nav-connexion-button {
  background-color: #000000;
  color: #e0e0e0;
  border-radius: 50px;
  height: 40px;
  width: 150px;
  font-size: 16px;
  font-family: "Trip Sans";
  border: none;
  cursor: pointer;
}

.li-nav:hover {
  background-color: hsl(0, 0%, 95%);
  border-radius: 50px;
}

/* HEADER BOTTOM  */

.header-bottom-section {
  margin-top: 52px;
  margin-bottom: 24px;
}

.main-title {
  font-size: 54px;
  font-weight: 900;
  margin-bottom: 25px;
}

.first-word {
  color: #ff5d5d;
}

.nav-menu-ul {
  display: flex;
  flex: 1;
  gap: 10px;
  border-radius: 10px;
}

.nav-menu {
  display: flex;
  flex: 1;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: space-between;
  padding: 16px;
  max-height: 70px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.nav-menu:hover {
  background-color: #000000;
  color: #fff;
  font-weight: normal;
}

.nav-menu .points {
  font-size: 30px;
}

/* PHOTOS MAIN   */

.photoMain {
  display: flex;
  height: 430px;
  gap: 2px;
}

.leftContainer {
  background-color: green;
  height: 100%;
  width: 60%;
}

.rightContainer {
  height: 99%;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.top {
  background-color: red;
  height: 50%;
}

.bottom {
  background-color: yellow;
  height: 50%;
}

.leftContainer img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.top img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bottom img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* LINKS  */

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  font-size: 12px;
  font-weight: normal;
  color: #333333;
}

/* CITY */

.city {
  display: flex;
}

.city-description {
  margin-top: 35px;
  width: 65%;
}

.city-description h1 {
  font-size: 28px;
  font-weight: 900;
}

.city-description p {
  margin-top: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 60px;
  width: 560px;
}

.city-map {
  margin-top: 35px;
  height: 350px;
  background-color: #fd5d5d;
  width: 32%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.city-map h2 {
  font-size: 26px;
  line-height: 30px;
}

.city-map p {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin-top: -10px;
}

.city-map-top {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 30px;
}

.city-map-button {
  height: 40px;
  background-color: #333333;
  border: none;
  width: 120px;
  color: white;
  font-family: "Trip Sans";
  font-size: 11px;
  border-radius: 15px;
}

.city-map-bottom {
  height: 40%;
  width: 100%;
}

.city-map-bottom img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.entertain {
  height: 300px;
}

/* SECTION IMMANQUABLES + CAROUSSEL  */

.immanquables {
  margin-top: 30px;
}

.immanquables h1 {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 40px;
}

.immanquables-section h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.immanquables-section p {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 17px;
  width: 80%;
}

.immanquables-section a {
  text-decoration: underline;
}

.immanquables-section {
  height: 300px;
  margin-bottom: 75px;
  display: flex;
}

.left-section {
  height: 100%;
  width: 25%;
}

/* CARROUSSEL  */

.carroussel {
  height: 100%;
  width: 75%;
  display: flex;
  gap: 16px;
  overflow: hidden;
  overflow-x: scroll;
}

.carroussel::-webkit-scrollbar {
  display: none;
}

.card {
  height: 100%;
  width: calc(32% + 0.7px);
  flex-shrink: 0;
}

.image {
  height: 60%;
  background-color: aqua;
  position: relative;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carroussel h3 {
  font-size: 18px;
  margin-top: 10px;
}

.carroussel p {
  font-size: 14px;
  width: 100%;
  font-family: "Trip Sans";
  font-weight: normal;
  color: #333333;
}

.notation {
  display: flex;
  gap: 10px;
  margin: 5px auto;
  align-items: center;
}

.rounds {
  display: flex;
  gap: 2px;
}

.round {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #00aa6c;
}

.semi-round {
  position: relative;
  height: 12px;
  width: 12px;
  /* background-color: red; */
}

.half-circle-part1 {
  width: 12px;
  height: 6px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: solid 1px #00aa6c;
  border-bottom: 0;
  transform: rotate(90deg);
  position: absolute;
  bottom: 3px;
  left: 3px;
}

.half-circle-part2 {
  width: 12px;
  height: 6px;
  background-color: #00aa6c;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: solid 1px #00aa6c;
  border-bottom: 0;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.notation .score {
  font-weight: normal;
  font-size: 12px;
}

/* ABSOLUTE SUR LES IMAGES  */

.circle {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle img {
  height: 22px;
  width: 22px;
}

.square {
  height: 45px;
  width: 33px;
  background-color: #34e0a1;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square img {
  height: 20px;
  width: 20px;
}

.square h4 {
  font-size: 12px;
}

#first-square,
#second-square {
  background-color: #f2b203;
}

.michelin {
  background-color: #faf1ed;
  width: fit-content;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  margin-top: 5px;
  padding: 0 10px;
}

.michelin img {
  height: 10px;
  width: 10px;
}

.michelin h4 {
  color: #bd2333;
  font-size: 12px;
}

#section2 {
  margin-bottom: 30px;
}

/* GERER LES HOVER  */

.card:hover {
  cursor: pointer;
  opacity: 70%;
}

.card:hover h3 {
  text-decoration: underline;
}

/* FOOTER  */

footer {
  background-color: #faf1ed;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: -30px;
}

@media (max-width: 1184px) {
  .wrapper {
    max-width: 1130px;
    padding: 12px 20px;
  }

  .nav-menu-ul {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 10px;
  }

  .nav-menu {
    display: flex;
    flex: none;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-between;
    padding: 16px;
    width: calc(25% - 8px);
    max-width: 270px;
    cursor: pointer;
  }

  .hidden {
    display: inherit;
  }

  /* PHOTOS  */

  .header-bottom-section {
    margin-top: 52px;
    margin-bottom: 4px;
  }

  .photoMain {
    display: flex;
    height: 384px;
    gap: 2px;
  }

  .leftContainer {
    background-color: green;
    height: 100%;
    width: 65%;
  }

  .rightContainer {
    height: 99%;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .top {
    background-color: red;
    height: 50%;
  }

  .bottom {
    background-color: yellow;
    height: 50%;
  }

  .leftContainer img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .top img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .bottom img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 1028px) {
  /* TOP NAVBAR */

  .li-nav a {
    display: none;
  }

  .searchbar {
    height: 38px;
    width: 235px;
    border-radius: 50px;
    border: 1px solid #e0e0e0;
    position: relative;
  }

  input {
    position: absolute;
    top: 0;
    left: 40px;
    height: 36px;
    width: 180px;
    border: none;
  }

  /* BOTTOM NAVBAR */

  .wrapper {
    max-width: 1130px;
    padding: 10px 20px;
  }

  .nav-menu-ul {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 10px;
  }

  .nav-menu {
    display: flex;
    flex: none;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-between;
    padding: 16px;
    width: calc(25% - 8px);
    max-width: 270px;
    cursor: pointer;
  }

  .hidden {
    display: inherit;
  }

  /* ARTICLE  */

  .city-description p {
    width: auto;
    padding-right: 20px;
  }

  .city-map h2 {
    font-size: 20px;
    line-height: 15px;
  }

  .city-map p {
    font-size: 13px;
    line-height: 13px;
  }
}
